/locutor/baseOriginal
/locutor/diferentesTamanhosFolds
/locutor/mesmoTamanhoFolds
/locutor/locutor_extracted_obifs_data_with_matlab


/gender/Fold_001
/gender/Fold_002
/gender/Fold_003
/gender/Fold_004
/gender/Fold_005
/gender/imagens
/gender/gender_extracted_data_obifs
